/* Header.css */
.app-header {
  background-color: #ffffff;
  padding: 0 32px;
  height: 72px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e8f0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.logo {
  font-weight: bold;
  font-size: 1.25rem;
}